<div fxLayout="row wrap" fxLayoutAlign="center stretch" [fxShow]="true" fxFill>
  <div fxLayout="column wrap" fxFlex="90" fxLayoutGap="1.5em" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="row wrap" fxLayoutAlign="center stretch" [fxShow]="true">
      <div fxLayout="column wrap" fxFlex="80" fxLayoutAlign="start stretch" [fxShow]="true">
        <div class="textAlignCenter">
          <h1>Grid Interface</h1>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
      </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" *ngIf="page.isLoading">
      <mat-progress-spinner [mode]></mat-progress-spinner>
    </div>
    <div fxLayout="row wrap" fxLayoutGap="1em" fxLayoutAlign="start stretch" [fxShow]="true" *ngIf="!page.isLoading &amp;&amp; page.categoryButtons.length &gt; 0"><button mat-raised-button *ngFor="let btn of page.categoryButtons" [class.selectedBtn]="page.selectedCategory === btn.id" (click)="getImageByCategory(btn.id)">{{btn.name}}</button></div>
    <div fxLayout="row wrap" fxLayoutAlign="space-between stretch" [fxShow]="true" *ngIf="!page.isLoading &amp;&amp; page.sortedImages.length &gt; 0">
      <div fxLayout="column wrap" class="gridImageContainer" fxFlex="31" fxLayoutAlign="start stretch" [fxShow]="true" *ngFor="let obj of page.sortedImages"><img imgSrc="{{obj.image}}"></div>
    </div>
  </div>
</div>